body {
    background-color: #C9F8B7;
    height: 100vh;
    width: 100vw;
    display: flex;
    overflow: hidden;
}

.wrapper {
    margin: auto;
    width: 90vw;
    height: 90vh;
    overflow-x: hidden;
    font-size: 2rem;
    box-shadow: 1px 2px 10px 2px grey;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* padding:0 1rem; */
}

.wrapper textarea {
    display: flex;
    min-width: 40ch;
    min-height: 30ch;
    align-items: center;
    justify-content: center;
}

.wrapper button {
    display: flex;

    margin: 2rem 0;
}

label {
    font-size: medium;
}