body {
    background-color: #C9F8B7;
    height: 100vh;
    width: 100vw;
    display: flex;
    overflow: hidden;
}

.wrapper {
    margin: auto;
    width: 90vw;
    height: 90vh;
    overflow-x: hidden;
    font-size: 2rem;
    box-shadow: 1px 2px 10px 2px grey;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* padding:0 1rem; */
}

.wrapper textarea {
    display: flex;
    min-width: 70%;
    min-height: 30ch;
    align-items: center;
    justify-content: center;
}

.wrapper button {
    display: flex;

    margin: 2rem 0;
}

label {
    font-size: medium;
}



#modal-insertion {
    position: absolute;
    left:0;
    top:0;

    width: 100%;
    height: 100%;
    z-index: 98;
    background-color: rgb(14, 14, 14, 0.4);
    /* pointer-events: none; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: lightgray;
    /* pointer-events: none; */

    /* user-select:none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none; */
}

.insertion-content {
    width: 90%;
    height: 90%;
    z-index: 99;
    display: flex;
    justify-content:space-evenly;
    align-items:center;
    flex-direction: column;
    background-color: rgb(14, 14, 14, 0.5);
    pointer-events: none;


}
.insertion-content picture {
        width: 100%;
        padding: 8px;
        box-sizing: border-box;
        pointer-events: none;

    }

.insertion-content img{
    max-width: 90%;
    height: 40vh;
    margin: 0 auto;
    display: block;
    pointer-events: none;

}

.insertion-content section {
    pointer-events: none;

}
.insertion-content button {
    pointer-events: all;

}

